.about-content {
    width: 100vw;
    padding: 1rem;
}

.about-block {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    position: relative;
}

.about-left {
    display: flex;
    align-items: center;
    max-width: 450px;
    max-height: 700px;
}

.about-right {
    max-height: 700px;
    max-width: 750px;
    animation: fadeIn 5s;
}

.about-author-illustration {
    height: 100%;
    width: 100%;
}

.about-author-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.author-information-text {
    color: #ced4da;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .3mm;
    line-height: 2;
    font-family: 'Edu SA Beginner', cursive !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}