@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.about-content {
    width: 100vw;
    padding: 1rem;
}

.about-block {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 1rem;
    position: relative;
}

.about-right {
    grid-column: 4/9;
    max-height: 600px;
    animation: fadeIn 5s;
}

.about-author-illustration {
    height: 100%;
    width: 100%;
}

.about-author-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.about-left {
    display: flex;
    align-items: center;
    grid-column: 1/4;
    height: 700px;
}

.author-information-text {
    color: #ced4da;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .3mm;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif !important;
    opacity: 0;
    filter: blur(8px);
    animation: fadeInBlur 1s ease-in-out forwards;
}

.about-brief-description {
    padding: 1rem;
}

.about-brief-desc-text {
    color: #ced4da;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.9;
    text-align: justify;
    font-family: 'Edu SA Beginner', cursive !important;
    /* letter-spacing: .3mm; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(8px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}