.about-content {
    width: 100vw;
    padding: 1rem;
}

.about-block {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    position: relative;
    /* border: 1px solid #fff; */
}

.about-right {
    height: 600px;
    width: 750px;
    /* border: 1px solid yellow; */
}

.about-author-illustration {
    height: 100%;
    width: 100%;
    /* border: 1px solid green; */
}

.about-author-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* border: 1px solid #fff; */
}

.about-left {
    position: absolute;
    left: 15px;
    /* height: 600px;
    width: 650px; */
    /* border: 1px solid yellow; */
}

.author-information-text {
    color: #ced4da;
}