.contact-content {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    animation: fadeIn 5s;
}

.contact-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 100%;
    padding-left: 2rem;
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-detail-info {
    display: flex;
    align-items: center;
    width: 400px;
    margin-bottom: 4.5rem;
}

.contact-detail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70px;
    margin-right: 1.5rem;
    font-size: 45px;
    color: #e0e1dd;
}

.contact-detail-key-value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    max-width: 350px;
}

.contact-detail-key,
.contact-detail-value {
    width: 100%;
}

.contact-detail-key {
    margin-bottom: .3rem;
}

.contact-detail-key-text {
    font-size: 24px;
    font-weight: 500;
    color: #e0e1dd;
}

.contact-detail-value-text {
    font-size: 16px;
    font-weight: 500;
    color: #adb5bd;
}

.contact-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-image: url('../assets//contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contact-form-title {
    margin-top: 5rem;
    width: 500px;
}

.contact-form-title-text {
    font-size: 32px;
    font-weight: 700;
    color: #e0e1dd;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    width: 500px;
}

.contact-field-label {
    width: 100%;
    color: #e0e1dd;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact-input-field {
    width: 100%;
    height: 45px;
    padding: 0 .7rem 0 .7rem;
    color: #e0e1dd;
    border: 1px solid #4a4e69;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, .8);
    transition: 200ms ease-in-out;
}

.contact-input-field:focus {
    outline: none;
    border-color: #eb5e28;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    transition: 200ms ease-in-out;
}

.contact-textarea-field {
    width: 100%;
    height: 150px;
    padding: .7rem;
    resize: none;
    color: #e0e1dd;
    border: 1px solid #4a4e69;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .8);
    transition: 200ms ease-in-out;
}

.contact-textarea-field:focus {
    outline: none;
    border-color: #eb5e28;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    transition: 200ms ease-in-out;
}

.contact-submit-btn {
    margin-top: 1.5rem;
    height: 45px;
    width: 100%;
    background: #22223b;
    color: #e0e1dd;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #4a4e69;
    border-radius: 5px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.contact-submit-btn:hover {
    background: #003049;
    border-color: #eb5e28;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    transition: 200ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}