.cv-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1rem;
    animation: fadeIn 5s;
}

.cv-box {
    width: 900px;
    padding: .5rem;
}

.cv-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    border: 1px solid #9a8c98;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
    box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
}

.cv-preview-inner {
    padding: 2rem 0 2rem 0;
    width: 650px;
    height: 100%;
}

.cv-host-name {
    margin-bottom: 3.5rem;
}

.cv-host-name-text {
    font-size: 36px;
    font-weight: 700;
    color: #e0e1dd;
}

.cv-desc-summary,
.cv-desc-main {
    margin-bottom: 1.5rem;
}

.cv-host-desc-summary-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.cv-desc-title {
    margin-bottom: .5rem;
}

.cv-desc-title-text {
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
    color: #e0e1dd;
}

.cv-desc-body-text {
    font-size: 16px;
    font-weight: 500;
    color: #e0e1dd;
}

.cv-desc-body-info-list {
    list-style: none;
}

.cv-desc-list-item {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    color: #e0e1dd;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}