.cv-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    animation: fadeIn 5s;
    background: #000;
}

.cv-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    min-height: 900px;
    border: 1px solid #4a4e69;
    border-radius: 15px;
    background: #101010;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
}

.cv-preview {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cv-preview-inner {
    padding: 2rem 0 2rem 0;
    width: 650px;
    height: 100%;
}

.cv-host-name {
    margin-bottom: 3.5rem;
}

.cv-host-name-text {
    font-size: 36px;
    font-weight: 700;
    color: #e0e1dd;
}

.cv-desc-summary,
.cv-desc-main {
    margin-bottom: 1.5rem;
}

.cv-host-desc-summary-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.cv-desc-title {
    margin-bottom: .5rem;
}

.cv-desc-title-text {
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
    color: #e0e1dd;
}

.cv-desc-body-text {
    font-size: 16px;
    font-weight: 500;
    color: #e0e1dd;
}

.cv-desc-body-info-list {
    list-style: none;
}

.cv-desc-list-item {
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5;
    color: #e0e1dd;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .cv-box {
        width: 100%;
        padding: 0;
        background: #101010;
    }

    .cv-preview {
        padding: 1rem 0;
    }

    .cv-preview-inner {
        padding: 1rem;
        width: 100%;
    }

    .cv-host-name {
        margin-bottom: 2rem;
    }

    .cv-host-name-text {
        font-size: 24px;
    }

    .cv-desc-title-text {
        font-size: 16px;
    }

    .cv-desc-body-text,
    .cv-desc-list-item {
        font-size: 14px;
    }
}