.filter-bar {
    position: absolute;
    width: 350px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: #000;
    border-radius: 25px;
}

.filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background: #000;
    border: 1px solid transparent;
    color: #e0e1dd;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    transition: 200ms ease-in-out;
}

.filter-btn.active {
    color: #80ed99;
    border: 1px solid #ff5400;
    transition: 200ms ease-in-out;
}

#left-filter-btn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#right-filter-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}