.filter-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
}

.filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 125px;
    background: #000;
    border: 1px solid transparent;
    color: #e0e1dd;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: .5rem;
    transition: 200ms ease-in-out;
}

.filter-btn:hover {
    color: #8d99ae;
    transition: 200ms ease-in-out;
}

.filter-btn.active {
    border: 1px solid #eb5e28;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    transition: 200ms ease-in-out;
}

#left-filter-btn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#right-filter-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media(max-width: 768px) {
    .filter-buttons {
        height: 25px;
    }

    .filter-btn {
        height: 35px;
        width: 100px;
        font-size: 14px;
        font-weight: 600;
        margin: .1rem;
    }
}