.filter-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 12%;
    z-index: 100;
}

.filter-tab {
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 35px;
}

.filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background: #000;
    border: 1px solid transparent;
    color: #e0e1dd;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    transition: 200ms ease-in-out;
}

.filter-btn.active {
    color: #f4a261;
    border: 1px solid #00a6fb;
    transition: 200ms ease-in-out;
}

#left-filter-btn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#right-filter-btn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}