.footer {
    height: 200px;
    border-top: 1px solid #4a4e69;
    background: #101010;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-left {
    margin-left: 10rem;
}

.footer-right {
    margin-right: 10rem;
}

.footer-brand-name-title {
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    color: #e0e1dd;
    font-family: 'Passion One', cursive !important;
}

.footer-contact-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-contact-detail-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-contact-detail-key-value {
    display: flex;
    align-items: center;
}

.footer-contact-detail-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 16px;
    color: #e0e1dd;
}

.footer-contact-detail-key-text {
    margin-right: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #e0e1dd;
}

.footer-contact-detail-value-text {
    font-size: 16px;
    font-weight: 500;
    color: #e0e1dd;
}