.footer {
    height: 175px;
    border-top: 1px solid #212529;
    background: #151515;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-left {
    margin-left: 10rem;
}

.footer-right {
    margin-right: 10rem;
}

.footer-brand-name-title {
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    color: #e0e1dd;
}