@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    background: #000;
}

.gallery-box {
    padding-bottom: 1rem;
    animation: fadeIn 5s;
}

.gallery-banner {
    position: relative;
    height: 775px;
}

.gallery-banner-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.gallery-quote-overlay {
    height: 100%;
    width: 100%;
}

.gallery-banner-quote {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    animation: fadeIn 5s;
}

.gallery-banner-quote-text {
    font-family: 'Special Elite', cursive !important;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .5mm;
    text-align: justify;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.gallery-banner-quote-author {
    width: 100%;
    text-align: end;
    font-style: italic;
    font-family: 'Special Elite', cursive !important;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5mm;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.gallery-set {
    min-height: 800px;
    min-width: 960px;
    max-width: 100%;
    padding: 3rem 1rem 3rem 1rem;
}

.gallery-box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.gallery-show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    color: #ced4da;
    background: #101010;
    border: 1px solid #4a4e69;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    transition: 200ms ease-in-out;
}

.show-more-btn-title {
    margin-right: .7rem;
}

.gallery-show-more-btn:hover {
    background: #212529;
    transition: 200ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media(max-width: 1100px) {
    .gallery-set {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 800px;
        min-width: 960px;
        max-width: 100%;
        padding: 2.5rem 0 2.5rem 0;
    }
}

@media(max-width: 768px) {

    .gallery-banner {
        min-height: 80vh;
    }

    .gallery-banner-quote {
        width: 400px;
    }

    .gallery-banner-quote-text {
        font-family: 'Special Elite', cursive !important;
        color: #ced4da;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
    }
}