.gallery-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

.gallery-image-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 350px;
    max-height: 350px;
    padding: .5rem;
    background: #101010;
    border: 1px solid #202020;
    border-radius: 20px;
    transition: 200ms ease-in-out;
}

.gallery-image-box:hover {
    transition: 200ms ease-in-out;
    box-shadow: 0px 0px 25px #941b0c;
}

.gallery-image-pic {
    width: 250px;
    min-height: 285px;
    max-height: 285px;
    border: none;
    background: none;
    cursor: pointer;
}

.gallery-image-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-image-desc {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 .5rem 0 .5rem;
}

.gallery-image-title {
    font-size: 16px;
    font-weight: 500;
    color: #e0e1dd;
}