.gallery-content {
    padding: 1.5rem 0 1.5rem 0;
}

.main-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    min-height: 800px;
    min-width: 1200px;
    padding: 1rem;
    /* border: 1px solid #fff; */
    border-radius: 15px;
    background: #0F0E0E;
}

.gallery-banner {
    min-height: 400px;
    max-height: 400px;
    min-width: 960px;
    max-width: 100%;
    border-radius: 5px;
    /* border: 1px solid #fff; */
    background-image: url('../assets//gallery-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery-set {
    min-height: 800px;
    /* max-height: 900px; */
    min-width: 960px;
    max-width: 100%;
}