.gallery-content {
    padding: 2.5rem 0 2.5em 0;
}

.main-gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    min-height: 100vh;
    min-width: 1200px;
    padding: .5rem;
    border-radius: 25px;
    background: #0F0E0E;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 15px 5px rgba(148, 27, 12, 1);
    animation: fadeIn 5s;
}

.gallery-banner {
    position: relative;
    min-height: 400px;
    max-height: 400px;
    min-width: 960px;
    max-width: 100%;
    border-radius: 10px;
    background-image: url('../assets//gallery-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 1);
}

.gallery-banner-quote {
    position: absolute;
    bottom: 25px;
    left: 15px;
    font-style: italic;
    font-size: 16px;
    color: #ced4da;
    text-shadow: 4px 4px 35px rgba(0, 0, 0, 1);
}

.gallery-set {
    min-height: 800px;
    min-width: 960px;
    max-width: 100%;
    padding: 3rem 1rem 3rem 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}