@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.gallery-content {
    width: 100vw;
}

.gallery-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    min-height: 100vh;
    min-width: 1200px;
    padding-bottom: 1rem;
    background: #000;
    opacity: 0;
    filter: blur(8px);
    animation: fadeInBlur 1s ease-in-out forwards;
}

.gallery-banner {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets//gallery-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-banner-quote {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-banner-quote-text {
    font-family: 'Special Elite', cursive !important;
    color: #ced4da;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5mm;
    text-align: justify;
}

.gallery-banner-quote-author {
    width: 100%;
    text-align: end;
    font-style: italic;
    font-family: 'Special Elite', cursive !important;
    color: #ced4da;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5mm;
}

.gallery-set {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 800px;
    min-width: 960px;
    max-width: 100%;
    padding: 3rem 1rem 3rem 1rem;
}

.gallery-box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.gallery-show-more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    color: #ced4da;
    background: #101010;
    border: 1px solid #343a40;
    border-radius: 20px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    transition: 200ms ease-in-out;
}

.show-more-btn-title {
    margin-right: .7rem;
}

.gallery-show-more-btn:hover {
    background: #212529;
    transition: 200ms ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(8px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}