@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

.home-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.home-banner {
    background-image: url('../assets/bg2.jpg');
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    animation: fadeIn 5s;
}

.home-banner-image {
    height: 650px;
    width: 100vw;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.home-brief-information-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 1150px;
    margin-bottom: 10rem;
}

.home-brief-info-text {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Philosopher', sans-serif !important;
    color: #e0e1dd;
    text-shadow: 0px 0px 30px rgba(49, 95, 154, 1);
    opacity: 0;
    filter: blur(8px);
    animation: fadeInBlur 1s ease-in-out forwards;
}

.home-main-information-box {
    width: 1085px;
    text-align: justify;
}

.home-main-info-host-name {
    margin-right: .5rem;
    font-family: 'Cinzel', serif !important;
    font-size: 24px;
    font-weight: 700;
    color: #eb5e28;
}

.home-main-info-text {
    font-family: 'Cinzel', serif !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    text-shadow: 0px 0px 30px rgba(49, 95, 154, 1);
    color: #e0e1dd;
}

.home-category-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: -2px -26px 50px 20px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px -26px 50px 20px rgba(0, 0, 0, 1);
    box-shadow: -2px -26px 50px 20px rgba(0, 0, 0, 1);
}

.home-art-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 600px;
    width: 100%;
}

.category-illustration {
    position: relative;
    height: 275px;
    width: 375px;
    margin: .7rem;
    overflow: hidden;
    border: 1px solid #4a4e69;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
    box-shadow: 0px 0px 25px 0px rgba(51, 53, 66, 1);
    transition: 200ms ease-in-out;
}

.category-illustration:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    box-shadow: 0px 0px 25px 0px rgba(148, 27, 12, 1);
    transition: 200ms ease-in-out;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    overflow: hidden;
    padding: 0 0 2rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms ease-in-out;
    z-index: 1;
}

.category-illustration:hover .overlay {
    opacity: 1;
}

.image-title {
    margin-top: auto;
    animation: slideFromLeft 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 500;
    color: #e0e1dd;
    padding: 1rem;
    border-left: 1px solid #fff;
}

.category-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    transition: transform 0.3s;
    border-radius: 5px;
}

.category-illustration:hover .category-img {
    transform: scale(1.2);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBlur {
    0% {
        opacity: 0;
        filter: blur(8px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}