.home-content {
    display: grid;
    grid-template-columns: 1fr;
}

.home-banner {
    background-image: url('../assets/bg2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    animation: fadeIn 5s;
}

.banner-image {
    height: 600px;
    width: 100vw;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.banner-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.home-category-area {
    position: relative;
    align-items: center;
}

.category-images {
    border: 1px solid yellow;
}

.art-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    position: relative;
}

.category-illustration {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    overflow: hidden;
    padding: 0 0 2rem 2rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms ease-in-out;
    z-index: 1;
}

.category-illustration:hover .overlay {
    opacity: 1;
}

.image-title {
    margin-top: auto;
    animation: slideFromLeft 0.5s ease-in-out;
    font-size: 20px;
    font-weight: 500;
    color: #e0e1dd;
    padding: 1rem;
    border-left: 1px solid #fff;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.category-img {
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
}

.category-illustration:hover .category-img {
    transform: scale(1.2);
}