.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) brightness(0.7);
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, .4);
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #101010;
    margin: auto;
    padding: .5rem;
    border-radius: 15px;
    width: 700px;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.close-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    font-size: 24px;
    background: none;
    border: none;
    color: #adb5bd;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.close-modal-btn:hover {
    color: #6c757d;
    transition: 200ms ease-in-out;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: .5rem;
    height: 100%;
    width: 100%;
}

.modal-body-image {
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
    background: #151515;
}

.modal-image-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: fill;
}

.modal-body-desc {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 1rem 0 1rem;
    border: 1px solid #202020;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #151515;
}

.modal-image-dec {
    font-size: 18px;
    font-weight: 500;
    color: #e0e1dd;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}