@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    z-index: 1;
    border-bottom: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px) brightness(0.7);
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, .4);
}

.navbar-left {
    margin-left: 10rem;
}

.nav-brand-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-decoration: none;
}

.nav-brand-name-title {
    font-size: 45px;
    font-weight: 700;
    color: #e0e1dd;
    font-family: 'Passion One', cursive !important;
}

.navbar-right {
    display: flex;
    margin-right: 10rem;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.nav-link {
    padding: .7rem;
    margin: .5rem;
    text-decoration: none;
    color: #e0e1dd;
    transition: 200ms ease-in-out;
}

.nav-link:hover {
    color: #9a8c98;
    transition: 200ms ease-in-out;
}

.nav-link.active {
    color: #f4a261;
}

.nav-host-name {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: .3mm;
    color: #e0e1dd;
}

.language-select {
    height: 25px;
    width: 50px;
    padding: .1rem;
    border: 1px solid #4a4e69;
    border-radius: 5px;
    background: #101010;
    color: #e0e1dd;
}

.social-links {
    display: flex;
    align-items: center;
}

.nav-social-link {
    text-decoration: none;
    font-size: 30px;
    color: #e0e1dd;
    transition: 200ms ease-in-out;
    margin-right: 1rem;
}

.nav-social-link:hover {
    color: #8d99ae;
    transition: 200ms ease-in-out;
}

.sidebar-btn {
    display: none;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    background: none;
    color: #e0e1dd;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.sidebar-btn:hover {
    color: #8d99ae;
    transition: 200ms ease-in-out;
}

@media(max-width: 1100px) {
    .nav-link {
        margin: .1rem;
    }

    .navbar-left {
        margin-left: 1rem;
    }
}

@media(max-width: 960px) {

    .sidebar-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar-right {
        margin-right: 1rem;
    }

    .navbar-left {
        margin-left: 1rem;
    }
}