.scroll-up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #e0e1dd;
    font-size: 16px;
    background: #151515;
    border: 1px solid #4a4e69;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    box-shadow: 0px 0px 15px 0px rgba(32, 32, 32, 1);
    transition: 200ms ease-in-out;
}

.scroll-up-btn:hover {
    background: #212529;
    transition: 200ms ease-in-out;
}