.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.sidebar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    padding: 1rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #e0e1dd;
    text-decoration: none;
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 0.7s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
    transition: 200ms ease-in-out;
}

.sidebar-link:hover {
    color: #9a8c98;
    transition: 200ms ease-in-out;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.sidebar-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

/* @media(min-width: 960px) {
    .sidebar {
        display: none;
    }
} */