.sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 75px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.sidebar-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    padding: 1rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #e0e1dd;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

.sidebar-link:hover {
    color: #9a8c98;
    transition: 200ms ease-in-out;
}

.sidebar-social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.sidebar-language-select {
    height: 25px;
    width: 50px;
    padding: .1rem;
    border: 1px solid #4a4e69;
    border-radius: 5px;
    background: #101010;
    color: #e0e1dd;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.sidebar-language-select:focus {
    border-color: #f4a261;
    transition: 200ms ease-in-out;
}