* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 85px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: #adb5bd;
}

::-webkit-scrollbar-thumb:hover {
  background: #dee2e6;
}