* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #202020;
  font-family: 'Poppins', sans-serif;
}

.container {
  min-height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}